* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v1_4 {
    width: 100%;
    height: 1080px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_17 {
    width: 984px;
    height: 243px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 352px;
    left: 875px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    overflow: hidden;
  }
  .v1_16 {
    width: 984px;
    height: 243px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 93px;
    left: 875px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    overflow: hidden;
  }
  .v1_7 {
    width: 792px;
    height: 760px;
    background: rgba(203,207,39,1);
    opacity: 1;
    position: absolute;
    top: 839px;
    left: 1151px;
    border-radius: 50%;
  }
  .v1_5 {
    width: 826px;
    height: 100%;
    background: rgba(217,217,217,1);
    opacity: 0.7099999785423279;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_6 {
    width: 564px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 123px;
    left: 131px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 150px;
    opacity: 1;
    text-align: left;
  }
  .v1_8 {
    width: 792px;
    height: 760px;
    background: rgba(39,197,207,1);
    opacity: 1;
    position: absolute;
    top: 674px;
    left: 1473px;
    border-radius: 50%;
  }
  .v1_9 {
    width: 133px;
    height: 133px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 148px;
    left: 920px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    overflow: hidden;
  }
  .v1_11 {
    width: 133px;
    height: 133px;
    background: url("../images/v1_11.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 148px;
    left: 920px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    overflow: hidden;
  }
  .v1_10 {
    width: 140px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 176px;
    left: 1085px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 63px;
    opacity: 1;
    text-align: left;
  }
  .v1_12 {
    width: 133px;
    height: 133px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 407px;
    left: 920px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    overflow: hidden;
  }
  .v1_13 {
    width: 133px;
    height: 133px;
    background: url("../images/v1_13.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 407px;
    left: 920px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v1_14 {
    width: 216px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 435px;
    left: 1085px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 63px;
    opacity: 1;
    text-align: left;
  }
  .v1_170 {
    width: 984px;
    height: 243px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 611px;
    left: 875px;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    overflow: hidden;
  }
  .v1_171 {
    width: 133px;
    height: 133px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 666px;
    left: 920px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    overflow: hidden;
  }
  .v1_172 {
    width: 133px;
    height: 133px;
    background: url("../images/v1_172.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 666px;
    left: 920px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v1_173 {
    width: 152px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 694px;
    left: 1085px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 63px;
    opacity: 1;
    text-align: left;
  }
  .v1_175 {
    width: 826px;
    height: 673px;
    background: rgba(73,73,73,1);
    opacity: 1;
    position: absolute;
    top: 407px;
    left: 0px;
    overflow: hidden;
  }
  .v1_176 {
    width: 147px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 508px;
    left: 224px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 55px;
    opacity: 1;
    text-align: left;
  }
  .v1_178 {
    width: 257px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 508px;
    left: 494px;
    font-family: Inter;
    font-weight: Extra Bold;
    font-size: 90px;
    opacity: 1;
    text-align: right;
  }
  .v1_257 {
    width: 326px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 694px;
    left: 219px;
    font-family: Inter;
    font-weight: Light;
    font-size: 90px;
    opacity: 1;
    text-align: left;
  }
  .v1_491 {
    width: 296px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 694px;
    left: 455px;
    font-family: Inter;
    font-weight: Light;
    font-size: 90px;
    opacity: 1;
    text-align: right;
  }
  .v1_488 {
    width: 169px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 894px;
    left: 223px;
    font-family: Inter;
    font-weight: Light;
    font-size: 51px;
    opacity: 1;
    text-align: left;
  }
  .v1_489 {
    width: 195px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 894px;
    left: 556px;
    font-family: Inter;
    font-weight: Light;
    font-size: 51px;
    opacity: 1;
    text-align: left;
  }
  .v1_490 {
    width: 180px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 947px;
    left: 556px;
    font-family: Inter;
    font-weight: Light;
    font-size: 15px;
    opacity: 1;
    text-align: center;
  }
  .v1_177 {
    width: 187px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 560px;
    left: 226px;
    font-family: Inter;
    font-weight: Thin;
    font-size: 36px;
    opacity: 1;
    text-align: left;
  }
  .v1_254 {
    width: 88px;
    height: 90px;
    background: url("../images/v1_254.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 508px;
    left: 87px;
    overflow: hidden;
  }
  .v1_255 {
    width: 88px;
    height: 57px;
    background: rgba(255,229,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v1_256 {
    width: 88px;
    height: 34px;
    background: rgba(255,229,0,1);
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 0px;
  }
  .v1_330 {
    width: 87px;
    height: 79px;
    background: url("../images/v1_330.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 704px;
    left: 87px;
    overflow: hidden;
  }
  .v1_331 {
    width: 87px;
    height: 79px;
    background: rgba(255,229,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v1_482 {
    width: 99px;
    height: 69px;
    background: url("../images/v1_482.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 892px;
    left: 87px;
    overflow: hidden;
  }
  .v1_483 {
    width: 89px;
    height: 7px;
    background: rgba(255,229,0,1);
    opacity: 1;
    position: absolute;
    top: 62px;
    left: 4px;
  }
  .v1_484 {
    width: 99px;
    height: 43px;
    background: rgba(255,229,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v1_485 {
    width: 92px;
    height: 80px;
    background: url("../images/v1_485.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 877px;
    left: 429px;
    overflow: hidden;
  }
  .v1_486 {
    width: 89px;
    height: 7px;
    background: rgba(255,229,0,1);
    opacity: 1;
    position: absolute;
    top: 73px;
    left: 1px;
  }
  .v1_487 {
    width: 92px;
    height: 57px;
    background: rgba(255,229,0,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  