
 /* Set the size and position of the main container */
 .container {
    width: 100%;
    height: 100vh; /* Adjust as needed */
    display: flex;
}

/* Style the left divs */
.left {
    flex-basis: 50%; /* The left div takes 50% of the available width */
    height: 100%; 
    width: 49.4%;/* The left div takes 100% of the available height */
    display: flex;
    flex-direction: column;
    position: fixed; /* Fix the left div */
}

/* Style the left upper div */
.left-upper {
    flex-basis: 30%;
    background-color: #e2e2e2; /* The left upper div takes 50% of the available height */
}
#ActualTimeH{
    font-family: "Inter";
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: -2px;
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    top: 6%;
    left: 25%;
    right:50%;

}
#DepTimeH{
    font-family: "Inter";
    font-size: 0.7rem;
    font-weight: 100;
    letter-spacing: -1px;
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    bottom: 0px;
    left: 2%;
    text-align: left;
    top: 21%;
}
#DestTimeH{
    font-family: "Inter";
    font-size: 0.7rem;
    font-weight: 100;
    text-align: right;
    letter-spacing: -1px;
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    bottom: 0px;
    top: 21%;
    right: 2%;
}

#ActualTime{
    font-family: "Inter";
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -2px;
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    top: 8%;
    left: 25%;
    right:50%;

}
#DepTime{
    font-family: "Inter";
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: -2px;
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
    bottom: 0px;
    left: 2%;
    text-align: left;
    top: 76%;
}
#DestTime{
    font-family: "Inter";
    font-size: 1.3rem;
    font-weight: 100;
    text-align: right;
    letter-spacing: -2px;
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    bottom: 0px;
    top: 23%;
    right: 2%;
}
/* Style the left bottom div */
.left-bottom {
    flex-basis: 70%;
    background-color: #373737; /* The left bottom div takes 50% of the available height */
}

/* Style the right div */
.right {
    background-color: #ffffe3;
    flex-basis: 50%; /* The right div takes 50% of the available width */
    height: 100%; /* The right div takes 100% of the available height */
    overflow-y: scroll; /* Enable vertical scrolling */
    box-sizing: border-box; /* Include padding in the height calculation */
    padding: 10px; /* Add some padding for content */
    margin-left: 50%; /* Push the right div to the right */
}
#weatherIcon{
    position: absolute;
    top: 38%;
    left: 10%;

}
#Sunny{
    font-family: "Inter";
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -2px;
    color: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    top: 37.6%;
    left: 24%;
}
#atdest{
    font-family: "Inter";
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: -2px;
    color: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    top: 42.3%;
    left: 24%;
}
#temp{
    font-family: "Inter";
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -2px;
    color: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    top: 37.9%;
    right: 10%;
}
.apps{
    background-color:#ffffff;
    border-radius: 10px;
    width: 90%;
    border: #000000 1px solid;
    /* add shadow */
    box-shadow: 0px 0px 190px rgba(0, 0, 0, 0.25);
    /*remove shadow on hover*/
    transition: all 0.5s ease;
    height: 10%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.apps:hover{
    box-shadow: none;
    background-color: #373737;
    color: #FFE600;
    border-color: white;
    border: white 2px solid;
}
* {
    font-family: "Inter";

}

.imgee{
    position: relative;
    margin-top:20px;
    border-radius: 10px;
    margin-left:20px;
    margin-bottom: 20px;
}
.txt{
    position: relative;
    margin-top:35px;
    border-radius: 10px;
    margin-right:25px;
    font-size: 1.4rem;
    text-align: right;
    margin-bottom: 20px;
}
.loadapps{
    position: absolute;
    width: 100%;
    height:100%;
    z-index: 800;
    /*background: radial-gradient(circle at center,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.8) 40%,
    rgba(0, 0, 0, 0.8) 100%
  );*/
  animation: uwu 30s 1 ease-in-out;
}
    
@keyframes uwu {
    0%{
        background: black;

        opacity: 0;
        
    }
    1%{
        background: black;

        opacity: 1;
        
    }
    89%{
        background: black;

        opacity: 1;
        
    }
    100%{
        background: red;
        opacity: 1;
        
    }
}
#loadercon{
    position: absolute;
    bottom: 50%;
    height: 100px;
    left: 50%;
    border-radius: 13px;
    z-index: 9999;
    transform: translate(-50%, -50%);
}
#subtitle{
    position: absolute;
    bottom: 25%;
    color: white;
    font-weight: 800;
    font-size: 2.4em;
    height: 100px;
    left: 50%;
    border-radius: 13px;
    z-index: 9999;
    transform: translate(-50%, -50%);
}
@-webkit-keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate-forever;
    -moz-animation-name: rotate-forever;
    animation-name: rotate-forever;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    height: 30px;
    width: 30px;
    border: 8px solid #ffffff;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
  }
  
  .loading-spinner {
    position: absolute;
    right: 50%;
    left: 47.3%;
    translate: (-50%, -50%);
    bottom:30%;
    z-index: 999;
  }
