
 /* Set the size and position of the main container */
 .container {
    width: 100%;
    height: 100vh; /* Adjust as needed */
    display: flex;
}

/* Style the left divs */
.left {
    flex-basis: 50%; /* The left div takes 50% of the available width */
    height: 100%; 
    width: 49.4%;/* The left div takes 100% of the available height */
    display: flex;
    flex-direction: column;
    position: fixed; /* Fix the left div */
}

/* Style the left upper div */
.left-upper {
    flex-basis: 30%;
    background-color: #e2e2e2; /* The left upper div takes 50% of the available height */
}
#ActualTimeH{
    font-family: "Inter";
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: -2px;
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    top: 6%;
    left: 25%;
    right:50%;

}
#DepTimeH{
    font-family: "Inter";
    font-size: 0.7rem;
    font-weight: 100;
    letter-spacing: -1px;
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    bottom: 0px;
    left: 2%;
    text-align: left;
    top: 21%;
}
#DestTimeH{
    font-family: "Inter";
    font-size: 0.7rem;
    font-weight: 100;
    text-align: right;
    letter-spacing: -1px;
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    bottom: 0px;
    top: 21%;
    right: 2%;
}

#ActualTime{
    font-family: "Inter";
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -2px;
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    top: 8%;
    left: 25%;
    right:50%;

}
#DepTime{
    font-family: "Inter";
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: -2px;
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
    bottom: 0px;
    left: 2%;
    text-align: left;
    top: 76%;
}
#DestTime{
    font-family: "Inter";
    font-size: 1.3rem;
    font-weight: 100;
    text-align: right;
    letter-spacing: -2px;
    color: #000000;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    bottom: 0px;
    top: 23%;
    right: 2%;
}
/* Style the left bottom div */
.left-bottom {
    flex-basis: 70%;
    background-color: #373737; /* The left bottom div takes 50% of the available height */
}

/* Style the right div */
.right {
    background-color: #ffffe3;
    flex-basis: 50%; /* The right div takes 50% of the available width */
    height: 100%; /* The right div takes 100% of the available height */
    overflow-y: scroll; /* Enable vertical scrolling */
    box-sizing: border-box; /* Include padding in the height calculation */
    padding: 10px; /* Add some padding for content */
    margin-left: 50%; /* Push the right div to the right */
}
#weatherIcon{
    position: absolute;
    top: 38%;
    left: 10%;

}
#Sunny{
    font-family: "Inter";
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -2px;
    color: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    top: 37.6%;
    left: 24%;
}
#atdest{
    font-family: "Inter";
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: -2px;
    color: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    top: 42.3%;
    left: 24%;
}
#temp{
    font-family: "Inter";
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -2px;
    color: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: absolute;
    top: 37.9%;
    right: 10%;
}