#PreloadTitle{
    font-family: "Inter";
    font-weight: 300;
    letter-spacing: -3px;
    position: absolute;
    bottom: 120px;
    left: 50px;

}
#PreloadTitleX{
  font-family: "Inter";
  font-weight: 300;
  letter-spacing: -3px;
  position: absolute;
  bottom: 119px;
  left: 170px;

}
#PreloadSubTitle{
    font-family: "Inter";
    font-weight: 700;
    font-size: 5em;letter-spacing: -5px;
    position: absolute;
    bottom: -10px;
    left: 50px;
}
#PreloadBar{
    font-family: "Inter";
    font-weight: 600;
    letter-spacing: -1px;
    position: absolute;
    bottom: 35px;
    right: 60px;
    font-size: 2em;
}
#CapsuleStart{
    background-color: black;
}
#Spinner{
    font-family: "Inter";
    font-weight: 600;
    letter-spacing: -1px;
    
    font-size: 2em;
}
@-webkit-keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate-forever;
    -moz-animation-name: rotate-forever;
    animation-name: rotate-forever;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    height: 30px;
    width: 30px;
    border: 8px solid #4c4d4f;
    border-right-color: transparent;
    border-radius: 50%;
    display: inline-block;
  }
  
  .loading-spinner {
    position: absolute;
    right: 60px;
    bottom:60px;
  }

  /*4c4d4f*/